@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  background-color: #191b1c;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-from-right 0.9s ease-out;
}

.animate-slide-in-left {
  animation: slide-in-from-left 0.9s ease-out;
}